<div class="header">
<ul>
  <li><%= link_to("Home","/") %></li>
  <li><%= link_to("About","/about") %></li>
  <li><%= link_to("Gllery","/garelly") %></li>
  <li><%= link_to("Contact","/contact") %></li>
</ul>
</div>

<div class="content">
<h1>Layout</h1>
</div>
<div class="underbar">
<hr>
</div>
<div class="image1">
<img src="/Line_image.png" width="500">
</div>
<div class="caption">
<div class="text">
<p>Creation time:1Week</p>
</div>
<div class="text">
<p>Grade:Second</p>
</div>
<div class="text">
<p>Software:Processing</p>
</div>
<div class="text">
<p>Purpose:</p>
</div>
<div class="text">
<p>画像とテキストを使って、グリッドを強く意識した構成を考える。</p>
</div>
<div class="text">
<p>Concept:</P>
</div>
<div class="text">
<p>文字を大胆に使うことで、見る人にインパクトを与えるようなレイアウトを目指した。また、写真とテキストのバランスに意識を置き見やすいデザインを意識して製作した。</p>
</div>
</div>
</div>
